h2 {
   background-color: #D1D1D1;
}

/* Table formatting */
th {
   background-color: #EFEFEF;
   border: 1px solid #CCCCCC;
   color: #555555;
   padding:0.1em;
   text-align: center;
   font-size:small;
}

.divider {padding: .1em;}

.yheader {text-align: left}

div.data {position:relative;}

td.result a {
  text-decoration:none;
  font-family:monospace;
  color:black;
}

/* Test result colors */

.ignore {background-color: #B7EBBA;}
.ignored {background-color: #B7EBBA;}
.timeout {background-color: #6A94D4;}
.install {background-color: #FFA240;}
.update {background-color: #FFA240;}
.cleanup {background-color: #FFDE40;}
.success {background-color: #67E46F;} 
.pass {background-color: #67E46F;} 
.fail {background-color: #FF7673;}
.die {background-color: #EAF;}
.died {background-color: #EAF;}

/* Organization link hover */

th#sort span#hide_text {display:block;}
th#sort:hover span#hide_text {display:none;}

th#sort a#sort_link {display:none;}
th#sort:hover a#sort_link{display:block;}
th#sort:hover {background-color: #0099CC;}

td.result:hover {background-color: #0099CC;}

/* Mouseover CSS */

div.mouseover{
   position:absolute;
   left:4em;
   visibility:hidden;
   white-space:nowrap;
   background:#F8F8F8;
   border: 2px solid #8F8F8F;
   text-align:left;
   line-height:1.5em;
   padding:.5em 1em;
   z-index:101;
}

td:hover div.mouseover{
   visibility:visible;
}

