[Unit]
Description=OSG VM Universe integration test suite
Requires=osg-nightly-tests.service
Wants=condor.service

[Timer]
OnCalendar=*-*-* 04:23:00

[Install]
WantedBy=timers.target