[Unit]
Description=OSG VM Universe integration test suite
Wants=condor.service

[Service]
User=osgtest
Group=osgtest
ExecStart=/usr/bin/osg-run-tests -n 'nightly'

[Install]
WantedBy=multi-user.target
