[Unit]
Description=Cleanup old OSG VM Universe integration test runs periodically
Requires=vm-test-cleanup.service

[Timer]
OnBootSec=10min
OnUnitActiveSec=1day
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target