[Unit]
Description=Cleanup old OSG VM Universe integration test runs

[Service]
ExecStart=/usr/bin/vm-test-cleanup

[Install]
WantedBy=multi-user.target
